.action {
  display: block;
  list-style: none;
}
.button-icon {
  margin-right: 10px;
  border-radius: 10px;
}
.button-icon:hover {
  fill: #2196f3;
}
.button-svg {
  padding: 0;
  margin: 0;
  border: 0;
}
.button-form {
  top: 0;
  right: 0;
}
