html { 
box-sizing: border-box;
}
*,
*::before ,
*::after
 {
   box-sizing: inherit;
 }
 /* Container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
   margin-top: 0;
 margin-bottom: 0;

  width: 1260px ;

}
.flex {
   display: flex;
   justify-content: space-between;
}

:root {
  --primary-text-color: #212121;
  --accent: #2196f3;
  --title-text-color: #757575;
}
/* Body */
.body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 3%;
  font-size: 14px ;
  line-height: 1.7 ;
}
/* Header */
.logo {
  color: var(--accent);
  font-family: Raleway, cursive;
  Font style: 700 ;
  Font size: 26px ;
  line-height: 1.20 ;
}
.page-header{
  background-color: #ffffff;
}
.container-like {
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
width: 1230px;

display: flex;
align-items: center; 
}
.container-info {
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
width: 1230px;

display: flex;
justify-content: flex-end;
color: var(--title-text-color);
}
.item-info:not(:last-child) {
  margin-right: 30px;
}
.colortext {
  color: black
}
.colortext-footer {
  color: #ffffff;
}
  .text-info {
    display: flex;
  color: var(--title-text-color);
}
.text-info:hover{
  color: #2196F3;
}
.logo:hover {
  color: var(--primary-text-color);
}
.list {
  margin-bottom: 0;
  margin-top: 0;
}
ul {
  list-style: none;
}
/* site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav .item + .item{
    margin-left: 50px;
}
.info > .item + .item {
  margin-left: 30px;
}
.info {
  display: flex;
  justify-content: flex-end;
 
}

.site-nav .link {
 display: block;
padding-top: 20px;
padding-bottom: 20px;


color: #212121;
font family: Roboto ;
font style: 500 ;
font size: 14px ;
line height: 1.14 ;
line height: 100% ;
letter-spacing : 2% ;
}
.site-nav .link.current {
  color: var(--accent);

  position: relative;
  padding: 20px 0px;
}
.link.current::after {
  content: '';
  left: 0;
  bottom: 0;
  position: absolute;
  
  display: block;
  width: 100%;
  background-color: #2196F3;
  height: 5px;
  border-radius: 2px;

  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #ff2b7c;
}
/* hero */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
  );
  background-image: url("../Images/Img\ Overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero{
  text-align: center;
}
.hero-title {
  padding-top: 200px ;
  margin-top: 0;
  margin-bottom: 30px ;
  color: #ffffff ;
  font-style: 900 ;
  font-size: 44px ;
  line-height: 1.4 ;
  
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
display: flex;
flex-wrap: wrap;
margin-top: 0;
margin-bottom: 0;

color: var(--primary-text-color);
Font-style: 700;
Font-size: 36px;
Line-height: 1.7;
}
.section-title-portfolio {
  display: flex;
flex-wrap: wrap;
margin-top: 0;
margin-bottom: 34px;
padding: 0;
}
.section-item {
width: 270px;
margin-top: 94px;
margin-bottom: 94px;
flex-wrap: wrap;
}
.section-item::before{
  display: block;
  content: '';
  outline: 2px solid black;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}
.section-item:nth-child(1)::before{
  background-image: url("../Images/Group\ 1.png");
}
.section-item:nth-child(2)::before {
  background-image: url("../Images/Group\ 2.png");
}
.section-item:nth-child(3)::before {
background-image: url("../Images/Group\ 3.png");
}
.section-item:nth-child(4)::before {
  background-image: url("../Images/Group\ 4.png");
}
.section-title > .item {
  width: 270px;
  margin-top: 94px;
  margin-bottom: 94px;
  flex-wrap: wrap;
}
.section-title > .section-item:not(:last-child) {
  width: calc((100% - 90px) / 4);
   margin-right: 27px;
}
.section-padding {
}
.section-padding.bg-color{
  background-color: #F5F4FA;
}
/* Section-title */
.section-title .title-list {
margin-top:0;
margin-bottom:0;
font-weight:400;
font-size:14px;
line-height:1.8;
}
.section-title .title {
margin-top:0;
margin-bottom:10px;

color: var(--primary-text-color);
font-weight:700;
font-size:14px ;
line-height: 1.14;
Text-Align: Left;
}
.title-secondary {
margin-top:20px;
margin-left: 24px;
margin-right: 24px;
margin-bottom:4px;

color: var(--primary-text-color);
font-style:700;
font-size:14px;
line-height: 1.14;
}
.title-list-secondary {
margin-top:4px;
margin-left: 24px;
margin-right: 24px;
margin-bottom:20px;

color: #757575;
font-style:400;
font-size:16px;
line-height:1.8;
}
/* Work */
.container-work {
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;

width: 1260px;
}
.title-centred {
text-align: center;
margin-bottom: 50px;
margin-top: 0;

font-weight: 700;
font-size: 36px;
line-height: 1.4;
}
.work {
margin-top: 0;
margin-bottom: 94px;
padding-right: 0;
padding-left: 0;
display: flex;
flex-wrap: wrap;
}
.work-list:not(:last-child) {
margin-right: 30px;
}
.picture {
position: relative;

bottom: 0;
left: 0;
}
.picture-text {
position: absolute;
bottom: 0;
right: 0;
width: 370px;
height: 70px;
background-color: #2f303acc;
color: #ffffff;
text-align: center;

margin: 0;
padding-top: 27px;
font-weight: 700;
font-size: 14px;
line-height: 1.2;
}
/* Project */
.project {
width: calc((100% - 60px) / 3);
margin-right: 30px;
margin-bottom: 30px;
border: 1px solid #EEEEEE;
width: 370px;
border-radius: 6px;
}
.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12) , 
  0px 4px 4px rgba(0, 0, 0, 0.06) ,
  1px 4px 6px rgba(0, 0, 0, 0.12) ;
}
.project:nth-child(3n) {
margin-right: 0;
}
.project:nth-last-child(-n + 3) {
margin-bottom: 0;
}

.thumb {
  position: relative;
  overflow: hidden;
}
.project .text-box {
  display: flex;
  position: absolute;
   padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;

  padding: 63px 24px;
  margin: 0;
  font-style:400;
font-size:16px;
line-height:1.8;
 color: white;
  background-color: rgba(33, 150, 243, 0.9) ;
  transform: translateY(100%);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.project:hover .text-box {
  transform: translateY(0);
  opacity: 1;
}
.project:focus .text-box {
 transform: translateY(0);
 opacity: 1;
}
/* button */
.button-portfolio {
    padding: 6px 22px;
  border-radius: 4px;
  
  font-weight: 500;
  font-size: 16px ;
  line-height: 1.7;
  border: 0;
}
.button-portfolio:hover {
  background-color: #2196f3;
  color: #FFFFFF;
}
.button-list:not(:last-child) {
margin-right: 8px;
}
.container-button {
display: flex;
justify-content: center;
}
.button {
display: inline-block;
border-radius: 4px ;
padding: 10px 32px;
border: 1px solid transparent;
margin-bottom: 200px;

color: #ffffff;
background-color: var(--accent);
font-style: 700;
font-size: 16px;
line-height: 1.87;
}

/* Team */
.team-work {
  text-align: center;
  padding-top: 94px;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
}
.team-name {
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;
}
.item-team {
  width: 270px;
  height: 390px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.item-team:not(:last-child) {
  margin-right: 30px;
}
.team-title {
   margin-top: 30px;
 margin-bottom: 16px;
  text-align: center;
  color:var(--primary-text-color) ;
  font-weight: 500 ;
  font-size: 16px ;
  line-height: 1.2 ;
}
.team-list {
  text-align: center;
 margin-top: 0;
 margin-bottom: 40px;
 color: var(--title-text-color);
 font-weight: 400;
 font-size: 16px;
 line-height: 1.2;
}
.image-icon {
  width: 44px;
  height: 44px;
  display: inline-block;
  margin-bottom: 30px;
}
.image-icon:nth-child(1){
 margin-left: 25px;
}
.image-icon:not(:last-child) {
margin-right: 8px;
}
a {
  text-decoration: none;
} 
/* customer */
.customer {
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 94px;
}
.container-customer {
  display: flex;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;

background-color: #ffffff;
width: 1260px ;
}
.regular-customers {
  margin-top: 94px;
  margin-bottom: 50px;
  text-align: center;
   font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
}
.icon-customer {
  width: 170px;
  height: 92px;
  display: inline-block;
}
.icon-customer::after {
   display: block;
  content: '';
   width: 170px;
  height: 92px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 30px;
}
.icon-customer:not(:last-child) {
margin-right: 30px;
}
.icon-customer:nth-child(1)::after {
background-image: url("../Images/Client\ 1.png");
}
.icon-customer:nth-child(2)::after {
  background-image: url("../Images/Client\ 2.png");
}
.icon-customer:nth-child(3)::after {
  background-image: url("../Images/Client\ 3.png");
}
.icon-customer:nth-child(4)::after {
  background-image: url("../Images/Client\ 4.png");
}
.icon-customer:nth-child(5)::after {
  background-image: url("../Images/Client\ 5.png");
}
.icon-customer:nth-child(6)::after {
  background-image: url("../Images/Client\ 6.png");
}

/* footer */
.container.footer {
  padding-top: 60px ;
  
  display: flex;
  background-color: #2F303A;
}
.footer-contact {
  margin-top: 20px ;
  margin-bottom: 0 ;
  padding-left: 0 ;
}
.item-footer:not(:last-child) {
margin-bottom: 9px;
}
.section-footer {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 60px;
  padding: 0;
}
.adres-item {
  margin-top: 60px;
}
.address-footer {
margin-top: 20px ;
color: #ffffff ;
margin-bottom: 9px;
}
.join {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 3%;
  margin-top: 72px;
  margin-bottom: 20px ;
}
.footer-icon {
display: inline-block;
flex-wrap: wrap ;
}
.social-list {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin-left: 70px;
display: flex;
align-items: center;
justify-content: center
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(175, 177, 184, 0.5);
  opacity: 1;
  transition:opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity:1;
  /* pointer-events: none; */
}
.backdrop.is-hidden.modal {
  transform:  translate(-50%,-50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: white;

  min-width: 528px;
  height: 581px;

  transform:  translate(-50%,-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
/* in translate */
/* scale(1) */
.textarea {
  resize: none;
}
.form {

}
.form-title {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.form-field {
  position: relative;
  flex-direction: column;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 10px;
}
.form-input:focus {
  border-color: rgba(33, 150, 243, 1);
}
.form-input {
font: inherit;
border-radius: 4px;
padding-left: 40px;
padding-top: 0;
padding-right: 0;
padding-bottom: 0;
border: 1px solid rgba(33, 33, 33, 0.2);
}
.form-label {
  margin-bottom: 4px;
color: #757575;
}
.form-field:focus-within > .form-icon {
  fill: #2196F3;
}
.policy-check {
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;

 position: absolute;
}
.icon-check {
display: inline-block;
width: 15px;
height: 15px;

border: 2px solid rgba(33, 33, 33, 1);
margin-right: 7px;
}
.policy-check:checked + .icon-check {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url(../Images/icon\ check\(1\).svg);
  background-size: contain;
  background-origin: border-box;
}
.label-policy {
  align-items: center;
}
.form-icon {
  position: absolute;

  top: 45%;
  left: 42px;

  width: 18px;
  height: 18px;
 
  display: inline-block;
  transform: translateY(20%);
   margin-left: 7px;
}
.form-comment {
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
}
.form-com {
color: #757575;
}
.closed{
  background-color: white;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.btn-send {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 55px;
  margin-bottom: 50px;
  margin-right: 164px;
  margin-left: 164px;
  margin-top: 30px;
  background-color: rgba(33, 150, 243, 1);
  border: 0;
  color: white;

}


/* цвет текста на первой странице */
/* цвет заголовков #212121; */
/* цвет текста в под заголовками #757575;  */
/* акцент #2196F3; */
/* белый #FFFFFF; */
/* цвет контактов */
/* цвет фона #2F303A; */
/* цвет фона второй секции #E5E5E5; */
/* цвет фона третий секции #F5F4FA; */ ;
